parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$constant2 of static method Orisai\\\\ReflectionMeta\\\\Finder\\\\ConstantDeclaratorFinder\\:\\:areDefinitionsIdentical\\(\\) expects ReflectionClassConstant, ReflectionClassConstant\\|false given\\.$#"
			count: 1
			path: ../src/Finder/ConstantDeclaratorFinder.php

		-
			message: "#^Parameter \\#1 \\$constant of method Orisai\\\\ReflectionMeta\\\\Reader\\\\AnnotationsMetaReader\\:\\:readClassConstant\\(\\) expects ReflectionClassConstant, ReflectionClassConstant\\|false given\\.$#"
			count: 3
			path: ../tests/Unit/Reader/AnnotationsMetaReaderTest.php

		-
			message: "#^Parameter \\#1 \\$constant of method Orisai\\\\ReflectionMeta\\\\Reader\\\\AttributesMetaReader\\:\\:readClassConstant\\(\\) expects ReflectionClassConstant, ReflectionClassConstant\\|false given\\.$#"
			count: 3
			path: ../tests/Unit/Reader/AttributesMetaReaderTest.php

		-
			message: "#^Parameter \\#1 \\$reflector of class Orisai\\\\SourceMap\\\\ClassConstantSource constructor expects ReflectionClassConstant, ReflectionClassConstant\\|false given\\.$#"
			count: 1
			path: ../tests/Unit/Structure/StructuresListTest.php
