parameters:
	ignoreErrors:
		-
			message: "#^Method Orisai\\\\ReflectionMeta\\\\Filter\\\\AnnotationFilter\\:\\:filterMultilineDocblock\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: ../src/Filter/AnnotationFilter.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Filter/AnnotationFilter.php

		-
			message: "#^Loose comparison via \"\\!\\=\" is not allowed\\.$#"
			count: 1
			path: ../src/Finder/ConstantDeclaratorFinder.php

		-
			message: "#^Loose comparison via \"\\!\\=\" is not allowed\\.$#"
			count: 1
			path: ../src/Finder/PropertyDeclaratorFinder.php

		-
			message: "#^Constant Tests\\\\Orisai\\\\ReflectionMeta\\\\Doubles\\\\Structure\\\\Grouper\\\\GrouperStructureDouble\\:\\:D is unused\\.$#"
			count: 1
			path: ../tests/Doubles/Structure/grouper-structure.php

		-
			message: "#^Constant Tests\\\\Orisai\\\\ReflectionMeta\\\\Doubles\\\\Structure\\\\Grouper\\\\GrouperStructureParent1\\:\\:D is unused\\.$#"
			count: 1
			path: ../tests/Doubles/Structure/grouper-structure.php

		-
			message: "#^Method Tests\\\\Orisai\\\\ReflectionMeta\\\\Doubles\\\\Structure\\\\Grouper\\\\GrouperStructureDouble\\:\\:d\\(\\) is unused\\.$#"
			count: 1
			path: ../tests/Doubles/Structure/grouper-structure.php

		-
			message: "#^Method Tests\\\\Orisai\\\\ReflectionMeta\\\\Doubles\\\\Structure\\\\Grouper\\\\GrouperStructureParent1\\:\\:d\\(\\) is unused\\.$#"
			count: 1
			path: ../tests/Doubles/Structure/grouper-structure.php

		-
			message: "#^Property Tests\\\\Orisai\\\\ReflectionMeta\\\\Doubles\\\\Structure\\\\Grouper\\\\GrouperStructureDouble\\:\\:\\$d is unused\\.$#"
			count: 1
			path: ../tests/Doubles/Structure/grouper-structure.php

		-
			message: "#^Property Tests\\\\Orisai\\\\ReflectionMeta\\\\Doubles\\\\Structure\\\\Grouper\\\\GrouperStructureParent1\\:\\:\\$d is unused\\.$#"
			count: 1
			path: ../tests/Doubles/Structure/grouper-structure.php
